doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'Carnival In Paradise | ' + title
    link(href='/css/style.css', rel='stylesheet')
  body
    //.container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='/') Home
          if user
            li
              a(href='/dashboard') Dashbaord
            li
              a(href='/logout') Logout
          else
            li
              a(href='/login') Login
        h3.text-muted Flask-Express
    block body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script.
        var socket = io();
